body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.question-container,
.question-num-container,
.next-button-container {
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
}

.question-num-container {
  display: flex;
}

.question {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}

.question-num {
  background-color: #8b8b8b;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  flex: 1;
}

.answer-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  padding: 5px;
  list-style: none;
}

.answer-option {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  flex-grow: 1;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
  margin: 0;
  text-align: center;
  margin: 10px;
}
.next-button {
  background-color: #007bff;
  width: 150px;
  height: 75px;
  color: #fff;
  border: none;
  padding: 10px;
  flex-grow: 1;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
  text-align: center;
  margin: 10px;
}

.answer-option:hover,
.next-button:hover {
  background-color: #0056b3;
}

.selected {
  background-color: #28a745;
}

@media (max-width: 768px) {
  .answer-option {
    width: 48%;
  }
}
