.side-bar {
  background-color: white;
  position: fixed;
  top: 80px;
  left: 0px;
  bottom: 0px;
  width: 110px;
  z-index: 100;
  transition: 0.8s;
}
.sidebar-link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  height: 75px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.sidebar-link-lesson {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  height: 25px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 10px;
}

/* .sidebar-link:hover, */
.sidebar-link-lesson:hover {
  background-color: rgb(237, 237, 237);
  cursor: pointer;
}

.sidebar-link img {
  height: 40px;
  padding-bottom: 7px;
}

.sidebar-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 10px;
}

.mini-sidebar-icons {
  height: 20px;
  display: flex;
  flex-direction: row;
  margin-right: 5px;
}
